<h1>Cadastra Produtos</h1>
<form action="/adicionaproduto" method="POST">
    <label>ID: </label>
    <input type="text" name="id"><br><br>
    <label>Descrição: </label>
    <input type="text" name="descricao"><br><br>
    <label>Quantidade: </label>
    <input type="text" name="quantidade"><br><br>
    <label>Preço: </label>
    <input type="text" name="preco"><br><br>
    <button type="submit">Enviar</button>
</form>