<h1>Produtos</h1>
<form action="/leitura/{{mid}}" method="POST">
    <label>Produto </label>
    <input type="text" name="texto" value="{{produto}}"><br>
    <br>
    <button type="submit">Enviar</button>
</form>